<?xml version="1.0"?><config>
	<database>
		<database_title>Main</database_title>
		<persitence_unit>JAHAP</persitence_unit>
		<database_url>jdbc:postgresql://localhost:5432/JAHAPs</database_url>
		<database_type>postgres</database_type>
		<database_driver>org.postgresql.Driver</database_driver>
		<database_path>C:\Users\russ\Desktop\PostgreSQLPortable-9.3</database_path>
                <reportsetup>          
                    <relativreportfolder></relativreportfolder>
                    <reportfiles_in_db>no</reportfiles_in_db>
                </reportsetup>   
	</database>
	<database>
		<database_title>test</database_title>
		<persitence_unit>JAHAP</persitence_unit>
		<database_url>jdbc:postgresql://localhost:5432/JAHAPtest</database_url>
		<database_type>postgres</database_type>
		<database_driver>org.postgresql.Driver</database_driver>
		<database_path>C:\Users\russ\Desktop\PostgreSQLPortable-9.3</database_path>
                <reportsetup>          
                    <relativreportfolder></relativreportfolder>
                    <reportfiles_in_db>no</reportfiles_in_db>
                </reportsetup>   
	</database>
        <userloginsetup>
            <login>root</login>
            <languuage>de</languuage>
            <prefereddatabase>Main</prefereddatabase>
            <lastused>true</lastused> 
        </userloginsetup>    
        <userloginsetup>
            <login></login>
            <languuage>en</languuage>
            <prefereddatabase>Main</prefereddatabase>
            <lastused>false</lastused> 
        </userloginsetup> 
        
</config>
